<!DOCTYPE html>
<html lang="en" ng-app="stoto">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="StoreCtrl as store">
    <header class="text-center">
      <h1>Flatlander Crafted Gems</h1>
      <h3>- an Angular store -</h3>
    </header>
    <div class="container">
      <ul class="list-group">
        <li ng-repeat="product in store.products" class="list-group-item">
          <h3>{{product.name}}<em class="blue pull-right">{{product.price | currency}}</em></h3>
          <button ng-click="store.sendmail" class="pull-right">Add to Cart</button>
          <image-gallery></image-gallery>
          <info-panels></info-panels>
        </li>
      </ul>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>
    <script src="service.js"></script>
    <script src="directives/directives.js"></script>
  </body>
</html>